.input-label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  .input-label__text {
    &::after {
      content: "*";
      margin-left: 0.2rem;
      color: var(--warning-col);
    }
  }

  input {
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 4px var(--shadow-col);
  }
}
