.image-gallery {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-area: gallery;

  .image-gallery__hero {
    object-fit: contain;
    object-position: center;
    aspect-ratio: 1 / 1;
    background-color: var(--white-col);
  }

  .image-gallery__wrapper {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    max-width: 70%;
    margin: 0 auto;

    .image-gallery__preview {
      object-fit: contain;
      object-position: center;
      aspect-ratio: 1 / 1;
      cursor: pointer;
      width: 100%;
    }
  }
}
