.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;

  .image-gallery__hero {
    grid-column: 1 / -1;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1;
  }

  .image-gallery__preview {
    height: 100%;
    object-fit: contain;
    object-position: center;
    cursor: pointer;

    grid-column: span 1;
  }
}