@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("App.css");

:root {
  --bg-col: #546170;
  --offset-col-1: #2f3544;
  --offset-col-2: #242838;
  --dark-col: #16181e;
  --price-col: #e02c37;
  --faded-col: #888888;
  --bright-col: #f5f5f5;

  --text-font: "Hind", sans-serif;
  --heading-font: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--text-font);
  font-style: normal;
  color: var(--dark-col);
  background-color: var(--bg-col);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-style: normal;
  font-weight: 600;
  color: var(--dark-col);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button {
  font-family: var(--heading-font);
  color: var(--bright-col);
}
