.product-details {
  .product-details__title-wrapper {
    .product-details__brand {
      color: var(--faded-col);
    }
  }

  .product-details__price {
    color: var(--price-col);
  }

  .product-details__category,
  .product-details__tags {
    text-transform: capitalize;
  }

  .product-details__category {
    text-decoration: underline;
  }

  .product-details__tags-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}