.product-slider {
  .product-slider__container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    gap: 0.5rem;
    overflow-x: auto;
    padding: 0.5rem;
  }
}

@media (max-width: 780px) {
  .product-slider {
    .product-slider__container {
      grid-auto-columns: 50%;
      scroll-snap-type: x proximity;

      & > * {
        scroll-snap-align: center;
      }
    }
  }
}

@media (max-width: 500px) {
  .product-slider {
    .product-slider__container {
      grid-auto-columns: 100%;
    }
  }
}
