.product-display {
  height: 100%;
  display: flex;
  gap: 1rem;
  transition: all 0.4s ease-out;
  padding: 1rem 3rem;

  .link-wrapper {
    flex: 1 0 40%;
  }

  .product-display__link {
    color: var(--dark-col);

    &:hover + .product-display__wrapper > a > h2,
    &:hover {
      text-decoration: underline;
    }
  }

  .product-display__figure {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
      object-fit: contain;
      object-position: center;
      aspect-ratio: 1 / 1;
      width: 100%;
    }
  }

  .product-display__wrapper {
    padding: 0.5rem;
    gap: 0.5rem;

    .product-display__title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-clamp: 2;
    }

    .product-display__brand {
      color: var(--faded-col);
    }

    .product-display__price {
      color: var(--price-col);
    }

    .product-display__description {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-clamp: 3;
    }
  }
}

@media (max-width: 500px) {
  .product-display {
    flex-direction: column;

    .product-display__wrapper {
      .product-display__description {
        display: none;
      }
    }
  }
}
