.product-card {
  .product-card__link {
    &:hover + .product-card__wrapper > a > h4,
    &:hover h4 {
      text-decoration: underline;
    }
  }

  .product-card__figure {
    display: flex;
    justify-content: center;
    padding: 0.2rem;

    img {
      aspect-ratio: 1 / 1;
      object-fit: contain;
    }
  }

  .product-card__wrapper {
    padding: 0.5rem;

    .product-card__title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .product-card__price {
      color: var(--price-col);
      font-weight: 700;
      font-family: var(--heading-font);
    }

    .product-card__stock {
      color: var(--faded-col);
      align-self: flex-end;
    }

    .product-card__edit {
      background-color: var(--offset-col-2);
      padding: 0.5rem 2rem;
      font-family: var(--heading-font);
      text-align: center;
    }
  }
}

.product-card,
.product-card__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
