.tags {
  list-style: none;
  display: flex;
  gap: 0.5rem;

  .tags__item {
    border-radius: 2rem;
    font-size: 0.8rem;
    padding: 0.2rem 0.6rem;
    background-color: var(--offset-col-1);
    color: var(--bright-col);
  }
}